.learning-Home-Page{
	.paragraph{
	font-size: 26px;
	color: red;
}
.sidemenubar-border{
	border: 1px solid #ddd;
	min-height: 100vh;
}
.working-border{
	border: 1px solid #ddd;
	min-height: 100vh;
}

}
.learning-Home-Page-sidebar{
	.menu-item{
	font-size: 24px;
    color: #485a63;
    font-weight: bold;
}	
}

